.rrze-rsvp-booking-reply {
	overflow-x: hidden;
	overflow-y: scroll;
	justify-content: center;
	text-align: center;
	word-wrap: break-word;
	
	.container {
		width: 100%;
		max-width: 600px;
		padding: 60px 30px;
		background-color: white;
		box-shadow: 0px 0px 4px #bbb;
		margin: 30px auto;
		box-sizing: border-box;

		h1 {
			margin: 0 0 30px;
		}

		a {
			color: black;
		}

		.date {
			font-size: 2em;
			line-height: 1.2em;
			font-weight: 300;
			padding-top: 1em;

			&.cancelled {
				text-decoration: line-through;
			}
		}

		.button {
			color: #444;
			padding: 10px 15px;
			text-decoration: none;
			margin: 10px 5px 5px;
			border: none;
			font-size: 1rem;
			font-weight: bold;
			border-radius: 3px;
			display: inline-block;

			&.button-cancel {
				background-color: #eee;
			}
		}

        .english-version {
			font-size: 14px;
			display: block;
			color: #bbb;		
		} 
		       
        .lang-hr {
            margin: 3em 0 0 0;
            border-top: 1px solid #dddddd;
            padding-top: 0.5em;            
        }		
	}
}
