.rsvp-occupancy-container {
    background: #fff;
    padding: 10px;
    margin-top: 6px;
}

body.embedded {
    //width: 1820px;
    //height: 590px;
    padding: 10px;
    &.admin-bar {
        margin-top: 0 !important;
    }
    div[role="navigation"],
    #header,
    #footer,
    #wpadminbar {
        display: none;
    }
}

table.rsvp-room-occupancy {
    border-collapse: collapse;
    td, th {
        border: 1px solid darkgrey;
    }
    th {
        padding: 5px;
        max-width: 200px;
        text-align: center;
        background-color: #eaeef2;
    }
    td {
        padding: 0;
        max-width: 90px;
        text-align: center;
        span {
            padding: 7px;
            display: block;
            font-size: 0;
            line-height: 0;
        }
        span.available {
            background-color: #dff0d8;
            color: #3c763d;
            &:before {
                font: normal normal normal 20px/1 FontAwesome;
                content: '\f00c';
                display: inline-block;
            }
        }
        span.not-available {
            background-color: #f2dede;
            color: #a94442;
            &:before {
                font: normal normal normal 20px/1 FontAwesome;
                content: '\f00d';
                display: inline-block;
            }
        }
    }
}