.rrze-rsvp-seat-check-inout {
	overflow-x: hidden;
	overflow-y: scroll;
	justify-content: center;
	text-align: center;
	word-wrap: break-word;
	
	.container {
		width: 100%;
		max-width: 600px;
		padding: 60px 30px;
		background-color: white;
		box-shadow: 0px 0px 4px #bbb;
		margin: 30px auto;
		box-sizing: border-box;

		a {
			color: white;
		}

		.date {
			font-size: 2em;
			line-height: 1.2em;
			font-weight: 300;
			padding-top: 1em;

			&.checked-out {
				text-decoration: line-through;
			}
		}

		.button {
			padding: 10px 15px;
			text-decoration: none;
			margin: 10px 5px 5px;
			border: none;
			font-size: 1rem;
			font-weight: bold;
			border-radius: 3px;
			display: inline-block;

			&.button-checkin {
                color: white;
				background-color: #489bda;
            }
            
			&.button-checkout {
                color: black;
				background-color: #eee;
			}            
		}		
	}
}
