{{force_to_confirm}}
    <h2>{{=confirm_your_booking}}</h2>
    <div class="alert alert-danger" role="alert">{{=confirmation_request_sent}}</div>
{{:force_to_confirm}}
    <h2>{{=reservation_submitted}}</h2>
{{/force_to_confirm}}

{{autoconfirmation}}
    <p>{{=your_reservation}}</p>
{{:autoconfirmation}}
    <p>{{=your_reservation_request}}</p>
{{/autoconfirmation}}

<table class="nobackground">
    <tr>
	<th>{{=date_label}}</th><td>{{=date}}</td>
    </tr>
    <tr>
	<th>{{=time_label}}</th><td>{{=time}}</td>
    </tr>
    <tr>
	<th>{{=room_label}}</th><td>{{=room_name}}</td>
    </tr>
    {{seat_name}}
    <tr>
	<th>{{=seat_label}}</th><td>{{=seat_name}}</td>
    </tr>
    {{/seat_name}}
</table>


<p>{{=data_sent_to_customer_email}}</p>

{{!force_to_confirm}}
    <div class="alert alert-info" role="alert">
    {{autoconfirmation}}
        {{=place_has_been_reserved}}
    {{:autoconfirmation}}
        {{=reservation_request}}
    {{/autoconfirmation}}
    </div>
{{/!force_to_confirm}}

{{force_to_checkin}}
    <br><br>
    <div class="alert alert-warning" role="alert">
        {{=check_in_when_arrive}}
    </div>
{{/force_to_checkin}}