{{sso_authentication_error}}
<h2>{{=sso_authentication}}</h2>
<div class="alert alert-danger" role="alert">
    {{=message}}
</div>
{{/sso_authentication_error}}

{{booking_data_error}}
<h2>{{=booking_data}}</h2>
<div class="alert alert-danger" role="alert">
    {{=message}}
</div>
{{/booking_data_error}}

{{booking_save_error}}
<h2>{{=booking_save}}</h2>
<div class="alert alert-danger" role="alert">
    {{=message}}
</div>
{{/booking_save_error}}

{{multiple_booking_error}}
<h2>{{=multiple_booking}}</h2>
<div class="alert alert-danger" role="alert">
    {{=message}}
</div>
{{/multiple_booking_error}}

{{seat_unavailable_error}}
<h2>{{=seat_already_booked}}</h2>
<div class="alert alert-danger" role="alert">
    {{=message}} {{=backlink}}
</div>
{{/seat_unavailable_error}}

{{timeslot_unavailable_error}}
<h2>{{=timeslot_in_past}}</h2>
<div class="alert alert-danger" role="alert">
    {{=message}} {{=backlink}}
</div>
{{/timeslot_unavailable_error}}
