<div class="rrze-rsvp-booking-reply">
	<div class="container">
		<h2>{{=title}}</h2>
		<p>{{=text}}</p>
		{{!no-action}}
		{{!already_done}}
		{{customer_has_received_an_email}}
		<p>{{=customer_has_received_an_email}}</p>
		{{/customer_has_received_an_email}}
		{{/!already_done}}
		<p class="date {{=class_cancelled}}">
			{{=date}}<br>
			{{=time}}<br>
			{{=room_name}}<br>
			{{seat_name}}
			{{=seat_name}}
			{{/seat_name}}			
		</p>
		<p class="customer">
			{{=customer.name}}<br>
			{{=customer.email}}
		</p>
		{{/!no-action}}
	</div>
</div>