<div class="rrze-rsvp-booking-reply">

	<div class="container">
		{{is_locale_not_english}}
		<p class="english-version">(English version below)</p>
		{{/is_locale_not_english}}

		{{booking_cancel}}
		<h1>{{=really_want_to_cancel_the_booking}}</h1>
		<p>{{=booking_cancel}}</p>
		{{/booking_cancel}}

		{{booking_cancelled}}
		<h1>{{=booking_cancelled}}</h1>
		<p>{{=booking_has_been_cancelled}}</p>
		{{/booking_cancelled}}
		
		{{booking_confirmed}}
		<h1>{{=booking_confirmed}}</h1>
		<p>{{=thank_for_confirming}}</p>
		{{/booking_confirmed}}
		
		{{booking_check_in}}
		<h1>{{=booking_check_in}}</h1>
		<p>{{=checkin_is_not_possible}}</p>
		{{/booking_check_in}} 
		
		{{booking_checked_in}}
		<h1>{{=booking_checked_in}}</h1>
		<p>{{=checkin_has_been_completed}}</p>
		{{/booking_checked_in}} 
		
		{{booking_check_out}}
		<h1>{{=booking_check_out}}</h1>
		<p>{{=checkout_is_not_possible}}</p>
		{{/booking_check_out}}
		
		{{booking_checked_out}}
		<h1>{{=booking_checked_out}}</h1>
		<p>{{=checkout_has_been_completed}}</p>
		{{/booking_checked_out}}
		
		{{action_not_available}}
		<h1>{{=action_not_available}}</h1>
		<p>{{=no_action_was_taken}}</p>
		{{/action_not_available}}

		<p class="date {{=class_cancelled}}">
			{{=room_name}}<br>
			{{=date}}<br>
			{{=time}}
		</p>		

		{{booking_cancel}}
			{{=cancel_btn}}
		{{/booking_cancel}}

		{{is_locale_not_english}}
		<p class='lang-hr'>&nbsp;</p>		

		{{booking_cancel}}
		<h1>{{=really_want_to_cancel_the_booking_en}}</h1>
		<p>{{=booking_cancel_en}}</p>
		{{/booking_cancel}}
	
		{{booking_cancelled}}
		<h1>{{=booking_cancelled_en}}</h1>
		<p>{{=booking_has_been_cancelled_en}}</p>
		{{/booking_cancelled}}
		
		{{booking_confirmed}}
		<h1>{{=booking_confirmed_en}}</h1>
		<p>{{=thank_for_confirming_en}}</p>
		{{/booking_confirmed}}
		
		{{booking_check_in}}
		<h1>{{=booking_check_in_en}}</h1>
		<p>{{=checkin_is_not_possible_en}}</p>
		{{/booking_check_in}} 
		
		{{booking_checked_in}}
		<h1>{{=booking_checked_in_en}}</h1>
		<p>{{=checkin_has_been_completed_en}}</p>
		{{/booking_checked_in}} 
		
		{{booking_check_out}}
		<h1>{{=booking_check_out_en}}</h1>
		<p>{{=checkout_is_not_possible_en}}</p>
		{{/booking_check_out}}
		
		{{booking_checked_out}}
		<h1>{{=booking_checked_out_en}}</h1>
		<p>{{=checkout_has_been_completed_en}}</p>
		{{/booking_checked_out}}
		
		{{action_not_available}}
		<h1>{{=action_not_available_en}}</h1>
		<p>{{=no_action_was_taken_en}}</p>
		{{/action_not_available}}

		<p class="date {{=class_cancelled}}">
			{{=room_name}}<br>
			{{=date_en}}<br>
			{{=time_en}}
		</p>
	
		{{booking_cancel}}
			{{=cancel_btn_en}}
		{{/booking_cancel}}

		{{/is_locale_not_english}}		
	</div>

</div>
