<div class="rrze-rsvp-booking-reply">
	<div class="container">
		{{header_image}}
		<img alt="" src="{{=header_image}}" width="{{=image_width}}" height="{{=image_height}}"><br>
		{{=site_name}}
		{{:header_image}}
		<h1>{{=site_name}}</h1>
		{{/header_image}}
		<p class='lang-hr'>&nbsp;</p>

		<h1>{{=booking_title}}</h1>

		{{processed}}
		
		<p>{{=booking_has_already_been}}</p>

		{{:processed}}

		<p>{{=booking_has_been}}</p>

		<p>{{=customer_has_received_an_email}}</p>

		<p class="date {{=class_cancelled}}">
			{{=room_name}}<br>
			{{=date}}<br />
			{{=time}}
		</p>
		<p class="customer">
			{{=customer.name}}<br>
			{{=customer.email}}
		</p>

		{{/processed}}

	</div>
	{{=backlink}}
</div>