.rrze-rsvp-booking-reply {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #f3f3f3;
  text-align: center;
  word-wrap: break-word;
  z-index: 99998;
}

.rrze-rsvp-booking-reply .container {
  width: 100%;
  max-width: 600px;
  padding: 60px 30px;
  background-color: white;
  box-shadow: 0px 0px 4px #BBB;
  margin: 30px auto;
  box-sizing: border-box;
}

.rrze-rsvp-booking-reply .container h1 {
  margin: 0 0 30px;
}

.rrze-rsvp-booking-reply .container a {
  color: black;
}

.rrze-rsvp-booking-reply .container .date {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 300;
  margin: 1em 0 .5em 0;
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

.rrze-rsvp-booking-reply .container .date.canceled {
  text-decoration: line-through;
}

.rrze-rsvp-booking-reply .container .button {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 10px 5px 5px;
  border: none;
  font-size: 1rem;
  border-radius: 3px;
  display: inline-block;
}

.rrze-rsvp-booking-reply .container .button.button-accept {
  background-color: #009900;
}

.rrze-rsvp-booking-reply .container .button.button-delete {
  background-color: #aa1818;
}

.rrze-rsvp-booking-reply a.backlink {
  display: block;
  color: #bbbbbb;
  text-decoration: none;
  margin-bottom: 30px;
}
