{{is_locale_not_english}}
<p class="english-version">(English version below)</p>
{{/is_locale_not_english}}
<h1>{{=subject}}</h1>

<p>{{=text}}</p>

<p class="date">
    {{=date}}
    {{=time}}
</p>

<p class="room" style="line-height: 24px;">
    {{=room_name}}
    {{seat_name}}
        <br>
        {{=seat_name}}
    {{/seat_name}}
</p>

{{checkin_booking}}
<p>
    {{=checkin_booking}}
</p>
{{/checkin_booking}}

{{checkout_booking}}
<p>
    {{=checkout_booking}}
</p>
{{/checkout_booking}}

{{cancel_booking}}
<p class="cancel">
    {{=cancel_booking}}
</p>
{{/cancel_booking}}

{{site_url}}
<p>
    <a href="{{=site_url}}" style="text-decoration: none; padding: 10px 15px; display: inline-block;">
        {{=site_url_text}}
    </a>
</p>
{{/site_url}}

{{is_locale_not_english}}
<p class='lang-hr'>&nbsp;</p>

<h1>{{=subject_en}}</h1>

<p>{{=text_en}}</p>

<p class="date">
    {{=date_en}}
    {{=time_en}}
</p>

<p class="room" style="line-height: 24px;">
    {{=room_name}}
    {{seat_name}}
        <br>
        {{=seat_name}}
    {{/seat_name}}
</p>

{{checkin_booking_en}}
<p>
    {{=checkin_booking_en}}
</p>
{{/checkin_booking_en}}

{{checkout_booking_en}}
<p>
    {{=checkout_booking_en}}
</p>
{{/checkout_booking_en}}

{{cancel_booking_en}}
<p class="cancel">
    {{=cancel_booking_en}}
</p>
{{/cancel_booking_en}}

{{site_url}}
<p>
    <a href="{{=site_url}}" style="text-decoration: none; padding: 10px 15px; display: inline-block;">
        {{=site_url_text}}
    </a>
</p>
{{/site_url}}
{{/is_locale_not_english}}
