{{is_locale_not_english}}
<p class="english-version">(English version below)</p>
{{/is_locale_not_english}}
<h1>{{=subject}}</h1>

<p>{{=text}}</p>

<p class="date">
    {{=date}}
    {{=time}}
</p>

<p class="room" style="line-height: 24px;">
    {{=room_name}}
    {{seat_name}}
        <br>
        {{=seat_name}}
    {{/seat_name}}
</p>

{{site_url}}
<p>
    <a href="{{=site_url}}" style="text-decoration: none; padding: 10px 15px; display: inline-block;">
        {{=site_url_text}}
    </a>
</p>
{{/site_url}}

{{is_locale_not_english}}
<p class='lang-hr'>&nbsp;</p>

<h1>{{=subject_en}}</h1>

<p>{{=text_en}}</p>

<p class="date">
    {{=date_en}}
    {{=time_en}}
</p>

<p class="room" style="line-height: 24px;">
    {{=room_name}}
    {{seat_name}}
        <br>
        {{=seat_name}}
    {{/seat_name}}
</p>

{{site_url}}
<p>
    <a href="{{=site_url}}" style="text-decoration: none; padding: 10px 15px; display: inline-block;">
        {{=site_url_text}}
    </a>
</p>
{{/site_url}}
{{/is_locale_not_english}}
