/**
 * RRZE-RSVP Plugin: Admin Dependencies
 */
table {
	td {
		vertical-align: middle;
	}

	&.wp-list-table {
		
		table-layout: auto;

		th {
			padding: 8px 10px;
			font-weight: 400;
		}

		td.status {
			text-align: center;
			width: 20%;

			a, button {
				margin: 2px 4px;
				min-width: calc(50% - 10px);
				text-align: center;						
			}

			.delete {
				color: #a00;
			}

			.booking_date {
				display: block;
				text-align: center;
				opacity: 0.6;
			}
		}
	}

}

.selectvalues-input {
	display: none;
}

.table.widefat input:not([type=submit]):not([type=checkbox]) {
	width: 100%;
}

div[id^='cmb-group-rrze-rsvp-room-timeslots'] {
	.cmb-type-text-time,
	.cmb-type-text-date-timestamp {
		width: 50%;
		float: left;
	}
	.cmb-th {
		width: 25%;
		& + .cmb-td {
			width: 70%;
		}
	}

}

div.cmb2-id-rrze-rsvp-room-bookingmode .info-bookingmode {
	display: inline-block;
	margin-top: 3px;
	margin-left: 3px;
	font-size:2em;
	color:#757575;
	cursor: pointer;
	&:hover, &:focus, &:active {
		color: #0073aa;
	}
}

div.cmb2-id-rrze-rsvp-booking-start {
	.display-timeslot,
	.cmb2-metabox-description {
		display: block;
		padding: .5em 0;
		color: #757575;
	}
	.select_timeslot {
		margin-top: 0;
	}
	#rrze-rsvp-booking-start_time {
		display: none;
	}
}


